.about,.list,.logReg,.favourites {
  align-self: center;
  position: absolute;
  background-color: $cream;
  top: 25%;
  border: 5px solid $orange;
  border-radius: 8%;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .closeButton {
    height: 2rem;
    width:2rem;
    margin-top: 1rem;
    margin-right: 1rem;
  }
}

.about {
  width: 40vw;
  height: 40vh;
  text-align: center;
  justify-content: center;
}

.list, .favourites {
  width: 40vw;
  height: 50vh;
  justify-content: center;
}

.loggedIn{
  padding-top: 1rem;
  position: absolute;
  right: 0;
}