.about,.list {
  visibility: hidden;
  opacity: 0;
  width: 25vw;
  align-self: center;
  position: absolute;
  height: 50vh;
  background-color: $cream;
  top: 25%;
  border: 5px solid $orange;
  border-radius: 8%;
  padding: 1rem;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
  .about,.list {
    visibility: visible;
    opacity: 1;
  }
}