.about,.list {
  align-self: center;
  position: absolute;
  background-color: $cream;
  top: 25%;
  border: 5px solid $orange;
  border-radius: 8%;
  padding: 1rem;
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .close {
    align-self: flex-end;
    padding-bottom: 0.5rem;
  }
}

.about {
  width: 40vw;
  height: 40vh;
}

.list {
  width: 25vw;
  height: 50vh;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}