.close {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../assets/svg/close-round-line.svg);
    cursor: pointer;
}
.close:hover {
    background-image: url(../assets/svg/close-round-line-orange.svg);
}

.formButton {
    border:0;
    outline:none;
    border-radius:8%;
    padding:1rem;
    font-size:1.25rem;
    font-weight:bold;
    text-transform:uppercase;
    background:$green;
    color:$cream;
    transition:all.5s ease;
    -webkit-appearance: none;
    &:hover, &:focus {
      background:$orange;
    }
}

.loginButton {
  font-size: 1rem;
  font-family: $fontStackOpen;
  color: $grey;
  background-color: $cream;
  cursor: pointer;
  border: none;
}

.loginButton:hover {
  color: $orange;
}