.headButton {
    border: none;
    background-color: $cream;
    cursor: pointer;
}

.closeButton {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../assets/svg/close-round-line.svg);
}
.closeButton:hover {
    background-image: url(../assets/svg/close-round-line-orange.svg);
}