.country {
    background-color: $cream;
    padding: 2rem;
    align-self: center;
    width: 80vw;
    border-radius: 5%;
    border: 5px solid $orange;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .countryHeader {
        display: flex;
        justify-content: center;
        position: relative;
        align-content: flex-end;

        .heading {
            cursor: default;
        }

        .heart, .heartOrange {
            width: 3rem;
            height: 2.7rem;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            background-image: url(../assets/svg/heart-thin.svg);
        }

        .heartOrange {
            background-image: url(../assets/svg/heart-thin-orange.svg);
        }

        .heart:hover {
            background-image: url(../assets/svg/heart-thin-orange.svg);
        }

        .heartOrange:hover {
            background-image: url(../assets/svg/heart-thin.svg);
        }

        .countryTitles {
            width: 85%;
            align-content: center;
        }
    }
    
    .countryBody {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .description{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
        height: 30vh;
    }
}

.country.noData {
    display: block;
    .countryBody {
        margin-bottom: 3rem;
        .text {
            width: 85%;
            height: 20%;
            span a {
                display: inline;
            }
        }
        .description {
            display: block;
        }
    }
}