.country {
    background-color: $cream;
    padding: 2rem;
    align-self: center;
    width: 80vw;
    border-radius: 5%;
    border: 5px solid $orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;


    .countryHeader {
        display: flex;
        justify-content: center;
        position: relative;
        align-content: flex-end;

        .link {
            width: 7.5%;
            position: absolute;
            top: 0;
            right: 0;
        }

        .button {
            width: 7.5%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .countryTitles {
            width: 85%;
            align-content: center;
        }
    }
    
    .countryBody {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .description{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
        height: 30vh;
    }
}