.hidden {
    display: none;
}

.header {
    display: flex;
    width: 40vw;
    justify-content: space-evenly;
    align-items: flex-end;

    .headContainer {
        position: relative;
        background-color: $cream;
        z-index: 2;
        width: 40vw;
        padding-top: 2rem;
    }
    .heading:hover {
        color: $orange;
    }

    .dropdown-content {
        position: absolute;
        z-index: 1;
        text-align: center;
        width: 40vw;
        background-color: $cream;
        top: -2rem;
        border-bottom: 5px solid $orange;
        border-left: 5px solid $orange;
        border-right: 5px solid $orange;
        animation: barUp 1s ease;
        -webkit-animation: barUp 1s ease;

        .subHeading {
            padding-bottom: 0rem;
        }
        .subHeading:hover {
            color: $orange;
        }
    }
}

.header:hover {
    .dropdown-content {
        display: block;
        opacity: 1;
        top: 6rem;
        animation: barDown 1s ease;
        -webkit-animation: barDown 1s ease;
    }
}

@keyframes barDown
{
  0% {
    top: -2rem;
  }
  100% {
    top: 6rem;
  }
}

@keyframes barUp
{
  0% {
    top: 6rem;
  }
  100% {
    top: -2rem;
  }
}