.countryList {
    list-style: none;
    overflow: hidden;
    overflow-y: scroll;
    height: 40vh;
    text-align: center;
    scrollbar-color: $green $cream;

    .listItem {
        a {
            text-decoration: none;
            color: $grey;
            line-height: 1.25rem;
        }
        a:hover{
            color: $orange;
        }
    }
}