.listContainer{
    // border: 1px $grey solid;
    // border-radius: 8%;
    // height: 35vh;
    max-height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .countryList, .favouriteList {
        list-style: none;
        overflow-y: scroll;
        text-align: center;
        max-height: 299px;
        scrollbar-color: $green $cream;
        width: 90%;

        .listItem {
            a {
                text-decoration: none;
                color: $grey;
                line-height: 1.25rem;
            }
            a:hover{
                color: $orange;
            }
        }
    }

    .favouriteList {
        .listItem {
            a {
                line-height: 1.5rem;
            }
        }
    }
}