@media only screen and (max-width: 1050px) {
    .heading {
        font-size: 4rem;
    }
    .subHeading {
        font-size: 2rem;
    }
    .text, .link {
        font-size: 1.75rem;
    }
    .about {
        width: 60vw;
    }
}

@media only screen and (max-width: 800px) {
    .heading {
        font-size: 2.75rem;
    }
    .subHeading {
        font-size: 1.5rem;
    }
    .text, .link {
        font-size: 1.5rem;
    }
    .list {
        width: 30vw;
    }
}

@media only screen and (max-width: 600px) {
    
    body {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 1rem;

        #root {
            display: flex;
            justify-content: center;
        }

        .heading {
            font-size: 2rem;
        }
        .subHeading {
            font-size: 1.25rem;
        }
        .text, .link {
            font-size: 0.75rem;
        }

        .country {
            padding: 1rem;
            padding-bottom: 2rem;

            .countryHeader {
                .recipe{
                    width: 2rem;
                    height: 2.5rem;
                }
                .button{
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
        .asideText {
            font-size: 0.75rem;
        }
        .countryList {
            .listItem a {
                font-size: 0.75rem;
                line-height: 1rem;
            }
        }
        .close {
            font-size: 0.75rem;
        }

        .map {
            width: 80vw;
        }        
        .header {
            justify-content: space-around;
        }
        .list {
            width: 60vw;
        }
        .about {
            width: 80vw;
            height: 50vh;
            max-height: 200px;
        }
        .button {
            width: 1.5rem;
        }
        .caption {
            font-size: 0.5rem;
            word-wrap: break-word;
        }
        
        .photoContainer{
            width: 30vw;
            .photo {
                height: 20vh;
                width: 30vw
            }
        }
    }
}

    
@media only screen and (max-width: 460px) {
    
    body {
        .heading {
            font-size: 1.5rem;
        }
        .subHeading {
            font-size: 1rem;
        }
    }
}