@media only screen and (max-width: 1050px) {
    .heading {
        font-size: 4rem;
    }
    .subHeading, .asideHeading {
        font-size: 2rem;
    }
    .text, .link {
        font-size: 1.75rem;
    }
    .about {
        width: 60vw;
    }
    .country.noData {
        .countryBody {
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
    }

    .header:hover .dropdown-content {
        top: 6rem;
    }
    
    @keyframes barDown
    {
      0% {
        top: -2rem;
      }
      100% {
        top: 6rem;
      }
    }
    
    @keyframes barUp
    {
      0% {
        top: 6rem;
      }
      100% {
        top: -2rem;
      }
    }
}

@media only screen and (max-width: 800px) {
    .heading {
        font-size: 2.75rem;
    }
    .subHeading, .asideHeading {
        font-size: 1.5rem;
    }
    .text, .link {
        font-size: 1.5rem;
    }
    .list {
        width: 30vw;
    }
    .country.noData {
        .countryBody {
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
    }
    .header:hover .dropdown-content {
        top: 4.75rem;
    }
    
    @keyframes barDown
    {
      0% {
        top: -2rem;
      }
      100% {
        top: 4.75rem;
      }
    }
    
    @keyframes barUp
    {
      0% {
        top: 4.75rem;
      }
      100% {
        top: -2rem;
      }
    }
}

@media only screen and (max-width: 600px) {
    
    body {
        margin-left: 2rem;
        margin-right: 2rem;

        #root {
            display: flex;
            justify-content: center;
        }

        .heading {
            font-size: 2rem;
        }
        .subHeading, .asideHeading {
            font-size: 1.25rem;
        }
        .text, .link {
            font-size: 0.75rem;
        }

        .country {
            padding: 1rem 0.5rem;

            .countryHeader {
                .recipe{
                    width: 1.2rem;
                    height: 1.5rem;
                }
                .subHeading, .asideHeading {
                    padding-bottom: 0.5rem;
                }
            }
        }

        .closeButton{
            width: 1.5rem;
            height:1.5rem;
        }

        .about, .list{
            .closeButton{
                margin-top: 0.5rem;
                margin-right: 0.5rem;
                width: 1.5rem;
                height:1.5rem;
            }
        }

        .list{
            .asideHeading{
                font-size: 1.25rem;
            }
        }

        .country.noData {
            .countryBody {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }
        .asideText {
            font-size: 0.75rem;
            .link {
                font-size: 0.75rem;
            }
        }

        .listContainer{
            .countryList {
                .listItem {
                    a {
                        font-size: 0.75rem;
                        line-height: 0.75rem;
                    }
                }
            }
        }

        .map {
            width: 80vw;
        }        
        .header {
            justify-content: space-around;
        }
        .list {
            width: 60vw;
        }
        .about {
            width: 80vw;
            height: 50vh;
            max-height: 200px;
        }
        .caption {
            font-size: 0.5rem;
            word-wrap: break-word;
        }
        
        .photoContainer{
            width: 30vw;
            .photo {
                height: 20vh;
                width: 30vw
            }
        }
    }
    .header {
        .headContainer {
            padding-top: 1rem;
        }
    }
    .header:hover .dropdown-content {
        top: 3rem;
    }
    
    @keyframes barDown
    {
      0% {
        top: -2rem;
      }
      100% {
        top: 3rem;
      }
    }
    
    @keyframes barUp
    {
      0% {
        top: 3rem;
      }
      100% {
        top: -2rem;
      }
    }
}

@media only screen and (orientation:landscape) and (max-width: 600px) {
    body {
        .photoContainer{
            .photo{
                height: 30vh;
                width: 25vw;
            }
        }
        .country{
            .countryHeader {
                .recipe{
                    width: 2rem;
                    height: 2.5rem;
                }
            }
        }
        .closeButton{
            width: 2.5rem;
            height:2.5rem;
        }
        .about, .list{
            .closeButton{
                width: 2.5rem;
                height:2.5rem;
            }
        }
    }
}

    
@media only screen and (max-width: 460px) {
    
    body {
        .heading {
            font-size: 1.5rem;
        }
        .subHeading, .asideHeading {
            font-size: 1rem;
        }
        .header:hover .dropdown-content {
            top: 2.5rem;
        }
        
        @keyframes barDown
        {
          0% {
            top: -2rem;
          }
          100% {
            top: 2.5rem;
          }
        }
        
        @keyframes barUp
        {
          0% {
            top: 2.5rem;
          }
          100% {
            top: -2rem;
          }
        }
    }
}