$orange: #E94F37;
$green: #44BBA4;
$blue: #3F88C5;
$grey: #393E41;
$cream: #F6F7EB;

a {
    outline: 0;
 }

html {
    font-family: "Open Sans", Arial, sans-serif;
}

body {
    max-width: 100%;
    max-height: 100vw;
    background-color: $cream;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
}

svg {
    display: inline-block;
    vertical-align: middle;
    max-height: 85vh;
  }
