$orange: #E94F37;
$green: #44BBA4;
$blue: #3F88C5;
$grey: #393E41;
$cream: #F6F7EB;

body {
    max-width: 100%;
    background-color: $cream;
    margin: 2rem 5rem;
}

svg {
    display: inline-block;
    vertical-align: middle;
  }
