@font-face{
    font-family: "Sniglet";
    src: url("../assets/fonts/sniglet/Sniglet\ Regular.otf")format("opentype"),
    url("../assets/fonts/sniglet/Sniglet\ Regular.ttf")format("truetype");
    font-weight: normal;
}

@font-face{
    font-family: "Open Sans";
    src: url("../assets/fonts/openSans/OpenSans-Regular.ttf")format("truetype");
    font-weight: normal;
}

$fontStackOpen: "Open Sans", Arial, sans-serif;
$fontStackSniglet: "Sniglet", Arial, sans-serif;

.heading {
    font-size: 6rem;
    font-family: $fontStackSniglet;
    color: $grey;
    text-align: center;
}

.subHeading {
    font-size: 3rem;
    font-family: $fontStackSniglet;
    color: $grey;
    text-align: center;
    padding-bottom: 2rem;
    text-decoration: none;
}

.text {
    font-size: 2rem;
    font-family: $fontStackOpen;
    color: $grey;
}

.asideText {
    font-size: 1.25rem;
    font-family: $fontStackOpen;
    color: $grey;
    padding-bottom: 1rem;
    .link {
        color: $grey;
    }
    .link:hover {
        color: $orange;
    }
}

.centre {
    text-align: center;
    font-weight: bold;
}

.caption {
    font-size: 0.75rem;
    font-family: $fontStackOpen;
    color: $grey;
    text-align: center;
}