@font-face{
    font-family: "Overpass";
    src: url("../assets/fonts/overpass/Overpass-Regular.ttf")format("truetype");
    font-weight: normal
}

@font-face{
    font-family: "OverpassBold";
    src: url("../assets/fonts/overpass/Overpass-Bold.ttf")format("truetype");
    font-weight: bold
}

@font-face{
    font-family: "Sniglet";
    src: url("../assets/fonts/sniglet/Sniglet\ Regular.otf")format("opentype"),
    url("../assets/fonts/sniglet/Sniglet\ Regular.ttf")format("truetype");
    font-weight: normal;
}

$fontStackOverpass: "Overpass", Arial, sans-serif;
$fontStackSniglet: "Sniglet", Arial, sans-serif;

.heading {
    font-size: 6rem;
    font-family: $fontStackSniglet;
    color: $grey;
    text-align: center;
}

.subHeading {
    font-size: 3rem;
    font-family: $fontStackSniglet;
    color: $grey;
}

.text {
    font-size: 2rem;
    font-family: $fontStackOverpass;
    color: $grey;
}