/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: "Open Sans", Arial, sans-serif; }

body {
  max-width: 100%;
  max-height: 100vw;
  background-color: #F6F7EB;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem; }

svg {
  display: inline-block;
  vertical-align: middle;
  max-height: 85vh; }

.container {
  border: 5px solid #E94F37;
  border-radius: 10%;
  background-color: #3F88C5;
  max-height: 75vh;
  width: 80vw;
  max-width: 80vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

@font-face {
  font-family: "Sniglet";
  src: url("../assets/fonts/sniglet/Sniglet Regular.otf") format("opentype"), url("../assets/fonts/sniglet/Sniglet Regular.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/openSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal; }

.heading {
  font-size: 6rem;
  font-family: "Sniglet", Arial, sans-serif;
  color: #393E41;
  text-align: center; }

.subHeading {
  font-size: 3rem;
  font-family: "Sniglet", Arial, sans-serif;
  color: #393E41;
  text-align: center;
  padding-bottom: 2rem;
  text-decoration: none; }

.text {
  font-size: 2rem;
  font-family: "Open Sans", Arial, sans-serif;
  color: #393E41; }

.asideText {
  font-size: 1.25rem;
  font-family: "Open Sans", Arial, sans-serif;
  color: #393E41;
  padding-bottom: 1rem; }

.centre {
  text-align: center;
  padding-top: 0.75rem;
  font-weight: bold; }

.tooltip {
  background-color: yellow; }

.button {
  width: 3rem; }

.headButton {
  border: none;
  background-color: #F6F7EB;
  cursor: pointer; }

.close {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: #393E41; }

.close:hover {
  color: #E94F37; }

.photo {
  object-fit: cover;
  width: 25vw;
  height: 30vh; }

.photoContainer {
  width: 25vw;
  height: 30vh;
  overflow: hidden;
  border-radius: 8%; }

.transition-appear {
  opacity: 0.01; }

.transition-appear.transition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in; }

.transition-enter {
  opacity: 0.01; }

.transition-enter.transition-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in; }

.transition-exit {
  opacity: 0; }

.transition-exit.transition-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }

.about, .list {
  visibility: hidden;
  opacity: 0;
  width: 25vw;
  align-self: center;
  position: absolute;
  height: 50vh;
  background-color: #F6F7EB;
  top: 25%;
  border: 5px solid #E94F37;
  border-radius: 8%;
  padding: 1rem;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  overflow: hidden; }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.overlay:target {
  visibility: visible;
  opacity: 1; }
  .overlay:target .about, .overlay:target .list {
    visibility: visible;
    opacity: 1; }

.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end; }

.country {
  background-color: #F6F7EB;
  padding: 2rem;
  align-self: center;
  width: 80vw;
  border-radius: 5%;
  border: 5px solid #E94F37;
  -webkit-transition: opacity all 500ms ease-in-out;
  -moz-transition: opacity all 500ms ease-in-out;
  -o-transition: opacity all 500ms ease-in-out;
  transition: all 500ms ease-in-out; }
  .country .countryHeader {
    display: flex;
    justify-content: center;
    position: relative; }
    .country .countryHeader .button {
      position: absolute;
      top: 0;
      left: 0; }
  .country .countryBody {
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .country .description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 30vh; }

.countryList {
  list-style: none;
  overflow: hidden;
  overflow-y: scroll;
  height: 40vh;
  text-align: center; }
  .countryList .listItem a {
    text-decoration: none;
    color: #393E41;
    line-height: 1.25rem; }
