/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  outline: 0; }

html {
  font-family: "Open Sans", Arial, sans-serif; }

body {
  max-width: 100%;
  max-height: 100vw;
  background-color: #F6F7EB;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem; }

svg {
  display: inline-block;
  vertical-align: middle;
  max-height: 85vh; }

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

@font-face {
  font-family: "Sniglet";
  src: url("../assets/fonts/sniglet/Sniglet Regular.otf") format("opentype"), url("../assets/fonts/sniglet/Sniglet Regular.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/openSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal; }

.heading {
  font-size: 6rem;
  font-family: "Sniglet", Arial, sans-serif;
  color: #393E41;
  text-align: center; }

.subHeading {
  font-size: 3rem;
  font-family: "Sniglet", Arial, sans-serif;
  color: #393E41;
  text-align: center;
  padding-bottom: 2rem;
  text-decoration: none; }

.text, .link {
  font-size: 2rem;
  font-family: "Open Sans", Arial, sans-serif;
  color: #393E41;
  text-decoration: none; }

.link:hover {
  color: #E94F37; }

.asideText {
  font-size: 1.25rem;
  font-family: "Open Sans", Arial, sans-serif;
  color: #393E41;
  padding-bottom: 1rem; }
  .asideText .link {
    color: #393E41;
    font-size: 1.25rem;
    text-decoration: underline; }
  .asideText .link:hover {
    color: #E94F37; }

.centre {
  text-align: center;
  font-weight: bold; }

.caption {
  font-size: 0.75rem;
  font-family: "Open Sans", Arial, sans-serif;
  color: #393E41;
  text-align: center; }

.tooltip {
  background-color: yellow; }

.headButton {
  border: none;
  background-color: #F6F7EB;
  cursor: pointer; }

.close {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: #393E41; }

.close:hover {
  color: #E94F37; }

.photo {
  object-fit: cover;
  width: 25vw;
  height: 30vh;
  border-radius: 8%; }

.photoContainer {
  text-align: center; }

.transition-appear {
  opacity: 0.01; }

.transition-appear.transition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in; }

.transition-enter {
  opacity: 0; }

.transition-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in; }

.transition-exit {
  opacity: 1; }

.transition-exit-active {
  opacity: 0;
  transition: opacity .5s ease-in; }

.about, .list {
  align-self: center;
  position: absolute;
  background-color: #F6F7EB;
  top: 25%;
  border: 5px solid #E94F37;
  border-radius: 8%;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column; }
  .about .close, .list .close {
    align-self: flex-end;
    padding-bottom: 0.5rem; }

.about {
  width: 40vw;
  height: 40vh; }

.list {
  width: 25vw;
  height: 50vh; }

.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end; }
  .header .headButton .subHeading:hover {
    color: #E94F37; }

.country {
  background-color: #F6F7EB;
  padding: 2rem;
  align-self: center;
  width: 80vw;
  border-radius: 5%;
  border: 5px solid #E94F37;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .country .countryHeader {
    display: flex;
    justify-content: center;
    position: relative;
    align-content: flex-end; }
    .country .countryHeader .recipe {
      width: 3rem;
      height: 3.75rem;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(../assets/svg/recipe-book.svg); }
    .country .countryHeader .recipe:hover {
      background-image: url(../assets/svg/recipe-book-orange.svg); }
    .country .countryHeader .button {
      width: 3rem;
      height: 3rem;
      position: absolute;
      top: 0;
      right: 0;
      background-image: url(../assets/svg/close-round-line.svg); }
    .country .countryHeader .button:hover {
      background-image: url(../assets/svg/close-round-line-orange.svg); }
    .country .countryHeader .countryTitles {
      width: 85%;
      align-content: center; }
  .country .countryBody {
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .country .description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 30vh; }

.country.noData {
  display: block; }
  .country.noData .countryBody {
    margin-bottom: 3rem; }
    .country.noData .countryBody .text {
      width: 85%;
      height: 20%; }
      .country.noData .countryBody .text span a {
        display: inline; }
    .country.noData .countryBody .description {
      display: block; }

.countryList {
  list-style: none;
  overflow: hidden;
  overflow-y: scroll;
  height: 40vh;
  text-align: center;
  scrollbar-color: #44BBA4 #F6F7EB; }
  .countryList .listItem a {
    text-decoration: none;
    color: #393E41;
    line-height: 1.25rem; }
  .countryList .listItem a:hover {
    color: #E94F37; }

@media only screen and (max-width: 1050px) {
  .heading {
    font-size: 4rem; }
  .subHeading {
    font-size: 2rem; }
  .text, .link {
    font-size: 1.75rem; }
  .about {
    width: 60vw; }
  .country.noData .countryBody {
    margin-top: 1rem;
    margin-bottom: 2rem; } }

@media only screen and (max-width: 800px) {
  .heading {
    font-size: 2.75rem; }
  .subHeading {
    font-size: 1.5rem; }
  .text, .link {
    font-size: 1.5rem; }
  .list {
    width: 30vw; }
  .country.noData .countryBody {
    margin-top: 1rem;
    margin-bottom: 2rem; } }

@media only screen and (max-width: 600px) {
  body {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem; }
    body #root {
      display: flex;
      justify-content: center; }
    body .heading {
      font-size: 2rem; }
    body .subHeading {
      font-size: 1.25rem; }
    body .text, body .link {
      font-size: 0.75rem; }
    body .country {
      padding: 1rem 0.5rem; }
      body .country .countryHeader .recipe {
        width: 1.2rem;
        height: 1.5rem; }
      body .country .countryHeader .button {
        width: 1.5rem;
        height: 1.5rem; }
      body .country .countryHeader .subHeading {
        padding-bottom: 0.5rem; }
    body .country.noData .countryBody {
      margin-top: 1rem;
      margin-bottom: 1rem; }
    body .asideText {
      font-size: 0.75rem; }
      body .asideText .link {
        font-size: 0.75rem; }
    body .countryList .listItem a {
      font-size: 0.75rem;
      line-height: 1rem; }
    body .close {
      font-size: 0.75rem; }
    body .map {
      width: 80vw; }
    body .header {
      justify-content: space-around; }
    body .list {
      width: 60vw; }
    body .about {
      width: 80vw;
      height: 50vh;
      max-height: 200px; }
    body .button {
      width: 1.5rem; }
    body .caption {
      font-size: 0.5rem;
      word-wrap: break-word; }
    body .photoContainer {
      width: 30vw; }
      body .photoContainer .photo {
        height: 20vh;
        width: 30vw; } }

@media only screen and (orientation: landscape) and (max-width: 600px) {
  body .photoContainer .photo {
    height: 30vh;
    width: 25vw; }
  body .country .countryHeader .recipe {
    width: 2rem;
    height: 2.5rem; }
  body .country .countryHeader .button {
    width: 2.5rem;
    height: 2.5rem; } }

@media only screen and (max-width: 460px) {
  body .heading {
    font-size: 1.5rem; }
  body .subHeading {
    font-size: 1rem; } }

.footer {
  display: flex;
  align-items: flex-end; }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw; }

.container {
  border: 5px solid #E94F37;
  border-radius: 10%;
  background-color: #3F88C5;
  max-height: 75vh;
  width: 80vw;
  max-width: 80vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem; }
